<h1>This is the hello page.</h1>

<%= 1 + 1 %>

<br />
<% target = 'world' %>

<%= "Hello #{target}" %>

<% @array.each do |n|%>
  <p><%= n %></p>
<% end %>

<%= link_to("index page", {:action => 'index'})%>